<h1>profile page</h1>
<h2><%= @user.first_name %></h2>

<%= link_to 'create new deck', new_user_deck_path(@user.id) %>

<div class='decks-container'>
<% @decks.each do |deck| %>
  <div>
    <%= link_to "view #{deck.name}", user_deck_path(user_id: deck.user_id, id: deck.id) %>
    <% if @user.id == current_user %>
      | <%= link_to 'take quiz', take_quiz_user_deck_path(user_id: deck.user_id, id: deck.id) %>
      | <%= link_to 'edit deck', edit_user_deck_path(user_id: deck.user_id, id: deck.id) %>
    <% end %>
  </div>
<% end %>
</div>
