<h1>profile page</h1>
<img src="<%= @user.image_url %>"><img>
<h2><%= @user.first_name %></h2>
<p><%= @user.email %></p>

<%= link_to 'create new deck', new_user_deck_path(@user.id) %>
<br><br>

<h4>your decks</h4>
<div class='decks-container'>
<% @decks.each do |deck| %>
  <div>
    <%= link_to "view #{deck.name}", user_deck_path(user_id: deck.user_id, id: deck.id) %>
    <% if @user.id == current_user %>
      | <%= link_to 'take quiz', take_quiz_user_deck_path(user_id: deck.user_id, id: deck.id) %>
      | <%= link_to 'edit deck', edit_user_deck_path(user_id: deck.user_id, id: deck.id) %>
    <% else %>
      | <%= button_to 'copy deck to your profile', copy_deck_user_deck_path(user_id: deck.user_id, id: deck.id) %>
    <% end %>
      | Current Mastery Level: <%= deck.current_mastery_level %>
      | Optimal Number of Hours Until Next Review: <%= (deck.hours_until_deck_review.to_f * 60 * 60 - (DateTime.now.to_i - deck.updated_at.to_i) )/ 3600  %>
      | Predicted Date of Mastery at Current Rate: <span class='time'><%= deck.hour_mastery_is_attained.to_i %></span>
      <br><br>

  </div>
<% end %>
</div>
