<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1><%= @user.username %>'s Decks</h1>
      <br>
      <%= link_to '+ Add Deck', new_user_deck_path(@user.id), class: "btn btn-lg btn-warning" %>
    </div>
  </div>
  <br><br>
  <div class="row">
    <% @decks.each do |deck| %>
      <div class="col-md-4 col-sm-6">
        <div class="single-deck">
          <div class="questions">
            <em><%= link_to "#{deck.name}", user_deck_path(user_id: deck.user_id, id: deck.id) %></em>
          </div>
          <h5 class="text-center"><em>Current Mastery Level:</em> <%= deck.current_mastery_level %></h5>

          <h5 class="text-center">
            <em>
              Optimal Number of Hours Until Next Review:
            </em>
            <% if deck.hours_until_deck_review == "indeterminate, need more data" %>
            <%= deck.hours_until_deck_review %>
            <% else %>
            <%= ((deck.hours_until_deck_review.to_f * 60 * 60 - (DateTime.now.to_i - deck.updated_at.to_i) )/ 3600).round(2)  %>
            <% end %>
          </h5>

          <h5 class="text-center">
            <em>
              Predicted Date of Mastery at Current Rate:
            </em>
            <% if deck.hour_mastery_is_attained == "indeterminate, need more data" %>
            <%= deck.hour_mastery_is_attained %>
            <% else %>
            <span class='time'><%= deck.hour_mastery_is_attained.to_i %></span>
            <% end %>
          </h5>

          <div class="deck-btns-container">
            <% if @user.id == current_user %>
              <div class="deck-btn"><%= link_to 'Take Quiz', take_quiz_user_deck_path(user_id: deck.user_id, id: deck.id), class: "btn btn-xl btn-primary form-control" %></div>
              <div class="deck-btn"><%= link_to 'Edit Deck', edit_user_deck_path(user_id: deck.user_id, id: deck.id), class: "btn btn-xl btn-danger form-control" %></div>
            <% else %>
              <%= button_to 'Copy Deck My Profile', copy_deck_user_deck_path(user_id: deck.user_id, id: deck.id), class: "btn btn-xl btn-default form-control" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
