<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1 class="text-center">Edit: <%= @deck.name %></h1>
            <h3 class="text-center">Created By: <%= @user.username %></h3>
            <br>
            <%= link_to '+ Add Card', new_user_deck_card_path(user_id: @user.id, deck_id: @deck.id), class: "btn btn-xl btn-default form-control" %>
            <br><br>
            <%= link_to 'Take Quiz', take_quiz_user_deck_path(user_id: @deck.user_id, id: @deck.id), class: "btn btn-xl btn-default form-control" %>
            <br><br>
            <%= button_to 'Delete Deck', { controller: :decks, action: 'destroy', id: @deck.id, user_id: @user.id }, method: :delete, data: {:confirm => 'Are you sure?'}, class: "btn btn-xl btn-default form-control" %>
            <div class='cards-container'>
            <br><br><br>
            <% @cards.each do |card| %>
              <div class='card' id='card_<%= card.id %>'>
                <div class='questions'><em><%= card.question %></em></div>
                <ol>
                    <li><div class='answers_1'><%= card.answer_1 %></div></li>
                    <li><div class='answers_2'><%= card.answer_2 %></div></li>
                    <li><div class='answers_3'><%= card.answer_3 %></div></li>
                    <li><div class='answers_4'><%= card.answer_4 %></div></li>
                </ol>
                <a href='/users/<%= @user.id %>/decks/<%= @deck.id %>/cards/<%= card.id %>/edit' class='edit-button btn btn-xl btn-default form-control card-btn'>Edit</a>
                <%= button_to 'Delete', { controller: :cards, action: 'destroy', id: card.id, deck_id: @deck.id, user_id: @user.id }, method: :delete, data: {:confirm => 'Are you sure?'}, class: "btn btn-xl btn-default form-control card-btn" %>
              </div>
            <% end %>
            </div>
        </div>
    </div>
</div>



