<!DOCTYPE html>
<html>
  <head>
    <title>RegressionFitKnowledgeCards</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <%= link_to "Flash Genius", root_path, class: "navbar-brand" %>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <% if logged_in? %>
                    <li><%= link_to image_tag("#{@user.image_url}", class: "profile-img"), user_path(session[:id]) %></li>
                    <li><%= link_to 'Find Users', users_path %></li>
                    <li><%= link_to 'All Decks', alldecks_index_path %></li>
                    <li><%= link_to 'Logout', '/welcome/logout' %></li>
                  <% end %>
                  <% if !logged_in? %>
                    <li><%= link_to 'Login', welcome_auth_path %></li>
                  <% end %>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
  </nav>

  <header id="page-top"></header>

  <%= yield %>

  <script>
    var x = new Date();
    var currentTimeZoneOffsetInHours = x.getTimezoneOffset() / 60;

    function convertIndividualTimeFromUTCUNIXToLocal(htmlTag){
      var unmodifiedDate = htmlTag.innerHTML
      var t = new Date(unmodifiedDate * 1000);
      htmlTag.innerHTML = t;
    }

    function convertAllTimesFromUTCUNIXToLocal(){
      var toConvert = $('.time')
      for (var i = toConvert.length - 1; i >= 0; i--){
        convertIndividualTimeFromUTCUNIXToLocal(toConvert[i]);
      }
    }

    convertAllTimesFromUTCUNIXToLocal()
  </script>

  </body>
</html>
