<!DOCTYPE html>
<html>
<head>
  <title>RegressionFitKnowledgeCards</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='navbar'>
  <%= link_to 'find other users', users_path %>
  <%= link_to 'see all other decks', alldecks_index_path %>
  <% if logged_in? %>
    <%= link_to 'my profile', user_path(session[:id])%>
    <%= link_to 'logout', '/welcome/logout' %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
